.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: #FFF; 
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.button:hover {
  opacity: 0.8;
}

.button_full-width {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
  
.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #333, 0 0 0 4px #ring;
}
  
.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}