/* DropdownMenu.css */
.dropdown-menu {
    position: relative;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.dropdown-menu_active {
    border: 2px solid #fff;
    color: #fff;
}
  
.dropdown-menu_active .dropdown-button {
    color: #fff;
    transition: color 0.4s ease;
}

.dropdown-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: #333333;
}
  
.dropdown-list {
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 6px 0 0 0;
    background-color: #09090B;
    border: 2px solid #ccc;
    visibility: hidden;
    width: 100%;
    z-index: 5;
}
  

.dropdown-list.show {
    display: block;
    visibility: visible; /* изменено на visibility: visible; */
}
  
.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.dropdown-item:hover {
    background-color: #f0f0f0;
}
  
.dropdown-list.show {
    display: block;
}
  