.input__container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease;
    border-color: #333333;
    margin: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: #333333;
    color: #fff;
    border: none;
}


.input__container_error {
    border-color: #7F1D1D;
}

.input__container_success {
    border-color: #33CC66;
}

.input {
    border: none;
    padding: 0;
    margin-left: 5px;
    background: none;
    outline: none;
    color: #FFF;
    width: 100%;
    font-weight: bold;
}

.input::placeholder {
    color: #333333;
}
  
.input:focus {
    border: none;
    box-shadow: none;
}

.input__container:focus-within {
    border-color: #FFF; /* Изменение цвета рамки контейнера */
    color: #FFF; /* Изменение цвета текста на белый */
}
