@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  background: #09090B;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  min-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.page {

}

.dropdown-menu-box {
  display: flex;
  margin: 0 10px 10px 10px;
  gap: 5px;
}

.buttons-box {
  display: flex;
  margin: 0 10px 10px 10px;
  gap: 5px;
  flex-direction: column;
}

.create-event {
  width: 75%;
  margin: 40px auto;
}